*.pot
*.py[co]
.tox/
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
tests/report/
package-lock.json
/media/
/static/
.idea/
venv/
/.env
db.sqlite3
pip-selfcheck.json
pyvenv.cfg
bin/
/lib/