{% extends "management/base/base.html" %}
{% load i18n %}
{% load static %}



{% block sidebar %}
    <aside class="sidebar sidebar-expand-lg sidebar-iconic">
        <header class="sidebar-header">
            <a href="{% url 'management_pets_list' %}">
                <span class="logo">
                    <img src="{% static "img/logo/getpet-logo-small-white.png" %}" alt="GetPet">
                </span>
            </a>
        </header>

        <nav class="sidebar-navigation">
            {% with square_logo_medium_url=user_selected_shelter.square_logo_medium_url %}
                {% if square_logo_medium_url %}
                    <div class="sidebar-profile">
                    <img class="rounded border"
                         src="{{ square_logo_medium_url }}"
                         alt="{{ user_selected_shelter.name }}"
                         width="64"
                         height="64">
                {% endif %}
            {% endwith %}
            </div>
            <ul class="menu">

                <li class="menu-item active">
                    <a class="menu-link" href="{% url 'management_pets_list' %}">
                        <span class="icon fa fa-paw"></span>
                        <span class="title">{% trans "Gyvūnai" %}</span>
                    </a>
                </li>
            </ul>
        </nav>

    </aside>
{% endblock %}

{% block topbar %}
    <!-- Topbar -->
    <header class="topbar">
        <div class="topbar-left flex-grow">
            <span class="topbar-btn sidebar-toggler"><i>&#9776;</i></span>
            <div class="w-100">
                <form class="lookup lookup-huge">
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input class="no-radius no-border" type="text" required
                           placeholder="{% trans 'Ieškokite gyvūnų pagal vardą, kodą ir kitus parametrus ...' %}">
                    <button type="submit" class="btn btn-info">
                        {% trans 'Ieškoti' %}
                    </button>
                </form>

            </div>
        </div>
        <div class="topbar-right">
            <div>
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-outline btn-primary">
                        {% trans 'Atsijungti' %}
                    </button>
                </form>
            </div>
            <div class="topbar-divider"></div>
        </div>
    </header>
    <!-- END Topbar -->
{% endblock %}

{% block main_container %}
    <main class="main-container">

        {% block main_aside %}
        {% endblock %}

        <div class="main-content">
            {% block content %}
            {% endblock %}
        </div>


        <!-- Footer -->
        <footer class="site-footer">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-center text-md-left">Copyright © 2019 <a
                            href="http://thetheme.io/theadmin">TheAdmin</a>.
                        All rights reserved.</p>
                </div>

                <div class="col-md-6">
                    <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
                        <li class="nav-item">
                            <a class="nav-link" href="../help/articles.html">Documentation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../help/faq.html">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="https://themeforest.net/item/theadmin-responsive-bootstrap-4-admin-dashboard-webapp-template/20475359?license=regular&open_purchase_for_item_id=20475359&purchasable=source&ref=thethemeio">Purchase
                                Now</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        <!-- END Footer -->

    </main>
{% endblock %}