{% extends "management/base/base.html" %}
{% load static %}



{% block sidebar %}
    <aside class="sidebar sidebar-expand-lg sidebar-iconic">
        <header class="sidebar-header">
            <span class="logo">
                <img src="{% static "img/logo/getpet-logo-small-white.png" %}" alt="logo"
            </span>
        </header>

        <nav class="sidebar-navigation">
            <ul class="menu">

                <li class="menu-item active">
                    <a class="menu-link" href="index.html">
                        <span class="icon fa fa-home"></span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li class="menu-item">
                    <a class="menu-link" href="position-list.html">
                        <span class="icon fa fa-briefcase"></span>
                        <span class="title">Positions</span>
                    </a>
                </li>

                <li class="menu-item">
                    <a class="menu-link" href="applicant-list.html">
                        <span class="icon fa fa-user"></span>
                        <span class="title">Applicants</span>
                        <span class="badge badge-pill badge-danger">2</span>
                    </a>
                </li>

                <li class="menu-item">
                    <a class="menu-link" href="resume-list.html">
                        <span class="icon fa fa-file-text-o"></span>
                        <span class="title">Resumes</span>
                    </a>
                </li>

                <li class="menu-item">
                    <a class="menu-link" href="settings.html">
                        <span class="icon fa fa-cogs"></span>
                        <span class="title">Settings</span>
                    </a>
                </li>

            </ul>
        </nav>

    </aside>
{% endblock %}

{% block topbar %}
    <!-- Topbar -->
    <header class="topbar">
        <div class="topbar-left">
            <span class="topbar-btn sidebar-toggler"><i>&#9776;</i></span>

            <div class="lookup topbar-search" id="theadmin-search">
                <input class="form-control w-300px" type="text">
                <div class="lookup-placeholder">
                    <i class="ti-search"></i>
                    <span><strong>Try</strong> button, slider, modal, etc.</span>
                </div>
            </div>
        </div>
    </header>
    <!-- END Topbar -->
{% endblock %}

{% block main_container %}
    <main class="main-container">

        <div class="main-content">
            {% block content %}
            {% endblock %}
        </div>


        <!-- Footer -->
        <footer class="site-footer">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-center text-md-left">Copyright © 2019 <a
                            href="http://thetheme.io/theadmin">TheAdmin</a>.
                        All rights reserved.</p>
                </div>

                <div class="col-md-6">
                    <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
                        <li class="nav-item">
                            <a class="nav-link" href="../help/articles.html">Documentation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../help/faq.html">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="https://themeforest.net/item/theadmin-responsive-bootstrap-4-admin-dashboard-webapp-template/20475359?license=regular&open_purchase_for_item_id=20475359&purchasable=source&ref=thethemeio">Purchase
                                Now</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        <!-- END Footer -->

    </main>
{% endblock %}