{% extends "web/base/base.html" %}
{% load static %}

{% block extra_body_start %}

{% endblock %}
{% block topbar %}
    <!-- Topbar -->
    <header class="topbar topbar-expand-lg topbar-inverse{% if sticky_topbar %}{% else %} position-absolute{% endif %}">
        <div class="topbar-left">

            <div class="topbar-brand">
                <a href="{% url 'index' %}"><img src="{% static "img/logo/getpet-logo-small-white.png" %}"
                                                 height="40"
                                                 alt="GetPet"/></a>
            </div>
            <nav class="topbar-navigation">
                <ul class="menu">

                    <li class="menu-item{% if active_top_bar_item == 'index' %} active{% endif %}">
                        <a class="menu-link" href="{% url 'index' %}">
                            <span class="title">Pagrindinis</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="topbar-right">
            <ul class="topbar-btns d-lg-none d-xl-none">
                <li class="dropdown">
                    <span class="topbar-btn" data-toggle="dropdown"><i class="ti-menu"></i></span>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{% url 'index' %}">Pagrindinis</a>
                    </div>
                </li>
            </ul>
        </div>

    </header>
    <!-- END Topbar -->
{% endblock %}

{% block main_container %}
    <!-- Main container -->
    <main class="main-container">
        {% block content %}
        {% endblock %}

        <footer class="site-footer pt-50 pb-20">
            <div class="row gap-y">
                <div class="col-lg-5">
                    <h5 class="text-uppercase fs-14 ls-1">About</h5>
                    <p class="text-justify"><strong>TrackICO</strong> - a platform that was established to provide
                        its
                        users
                        reliable information about the best Initial Coin Offering projects and help ICOs/STOs attract
                        more
                        investors.</p>
                </div>

                <div class="col-6 col-md-4 col-lg-2 text-left1 text-lg-center1">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="https://api.trackico.io/v1/" target="_blank">Developers API</a>
                        </li>
                    </ul>
                </div>

                <div class="col-6 col-md-4 col-lg-2 text-left1 text-lg-center1">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="https://t.me/trackico" target="_blank" rel="me"
                               onclick="ga('send', 'event', 'social_link', 'telegram');"><i class="fa fa-telegram"
                                                                                            aria-hidden="true"></i>
                                Telegram</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://twitter.com/TrackICO" target="_blank" rel="me"
                               onclick="ga('send', 'event', 'social_link', 'twitter');"><i class="fa fa-twitter"
                                                                                           aria-hidden="true"></i>
                                Twitter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://medium.com/@trackico/" target="_blank" rel="me"
                               onclick="ga('send', 'event', 'social_link', 'medium');"><i class="fa fa-medium"
                                                                                          aria-hidden="true"></i>
                                Medium</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.facebook.com/TrackICO/" target="_blank" rel="me"
                               onclick="ga('send', 'event', 'social_link', 'facebook');"><i
                                    class="fa fa-facebook-square" aria-hidden="true"></i>
                                Facebook</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.trackico.io/feed/" target="_blank"
                               rel="alternate" type="application/rss+xml"
                               onclick="ga('send', 'event', 'social_link', 'rss');"><i class="fa fa-rss"
                                                                                       aria-hidden="true"></i>
                                RSS</a>
                        </li>

                    </ul>
                </div>

                <div class="col-md-4 col-lg-3 text-left1 text-lg-center1">
                    <h5 class="text-uppercase fs-14 ls-1">Newsletter</h5>
                    <p><strong>Subscribe</strong> to our newsletter to receive news, updates, and special offers:
                    </p>
                </div>

            </div>

            <hr>

            <div class="row">
                <div class="col-md-6 justify-content-center justify-content-md-start">
                    <p>Copyright © 2017. All rights reserved.</p>
                </div>

                <div class="col-md-6">
                    <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">ICO Listing</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        <!-- END Footer -->

    </main>
    <!-- END Main container -->
{% endblock %}