{% extends 'web/base/base.html' %}
{% load i18n %}
{% load setting_tags %}
{% load tel_tags %}
{% load static %}

{% block topbar %}
    <nav class="navbar navbar-expand-lg {% block navbar_class %}navbar-light navbar-stick-dark{% endblock %}"
         data-navbar="sticky">
        <div class="container">

            <div class="navbar-left">
                <button class="navbar-toggler" type="button"><span class="navbar-toggler-icon"></span></button>
                <a class="navbar-brand" href="{% url 'web:index' %}">
                    <img class="logo-light"
                         src="{% static 'web/img/logo/getpet-logo-small-white.png' %}"
                         alt="{% trans 'GetPet baltas logotipas' %}">
                    <img class="logo-dark"
                         src="{% static 'web/img/logo/getpet-logo-small-pink.png' %}"
                         alt="{% trans 'GetPet logotipas' %}">
                </a>
            </div>

            <section class="navbar-mobile">
                <span class="navbar-divider d-mobile-none"></span>

                <ul class="nav nav-navbar">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'web:index' %}">{% trans 'Pradžia' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'web:all_dogs' %}">{% trans 'Svajonių šunys' %}</a>
                    </li>
                    {% if user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'web:mentors' %}">{% trans 'Mentoriai' %}</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% url 'web:all_shelters' %}">{% trans 'Gyvūnų globos organizacijos' %}</a>
                    </li>
                </ul>
            </section>

        </div>
    </nav>

    {% block header %}
    {% endblock %}
{% endblock %}



{% block main_container %}
    <!-- Main Content -->
    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>
    <!-- /.main-content -->

    <!-- Footer -->
    <footer class="footer py-7">
        <div class="container text-center">
            <div class="social social-lg social-hover-bg-brand">
                <a class="social-facebook" href="https://www.facebook.com/getpet.lt" rel="me" target="_blank">
                    <i class="icon-facebook-official"></i></a>
                <a class="social-instagram" href="https://www.instagram.com/getpet.lt/" rel="me" target="_blank">
                    <i class="icon-instagram"></i></a>
                <a class="social-linkedin" href="https://www.linkedin.com/company/getpet/" rel="me" target="_blank">
                    <i class="icon-linkedin-square"></i></a>
            </div>

            <br>

            <div class="nav nav-bolder nav-uppercase nav-center">
                <a class="nav-link" href="{% url 'web:document_about_getpet' %}" rel="nofollow" target="_blank">
                    {% trans 'Kas yra GetPet?' %}
                </a>
                <a class="nav-link" href="{% url 'web:document_fair_use_rules' %}" rel="nofollow" target="_blank">
                    {% trans 'Sąžiningo naudojimosi taisyklės' %}
                </a>
                <a class="nav-link" href="{% url 'web:document_privacy_policy' %}" rel="nofollow" target="_blank">
                    {% trans 'Privatumo politika' %}
                </a>
                <a class="nav-link" href="{% url 'management:index' %}" rel="nofollow" target="_blank">
                    {% trans 'Gyvūnų administravimo platforma' %}
                </a>
            </div>

            <br>
            {% settings_value 'EMAIL_FROM' as contact_email %}
            {% settings_value 'CONTACT_PHONE' as contact_phone %}

            <small>
                © VšĮ Augink mane. Visos teisės saugomos {{ contact_phone|urltel }} |
                {{ contact_email|urlize }}
            </small>

        </div>
    </footer>
    <!-- /.footer -->

    <!-- Once -->
    <div id="popup-once" class="popup col-9 py-4" data-position="bottom-center" data-animation="slide-up"
         data-once="gdpr-agreed" data-autoshow="500">
        <div class="row gap-y align-items-center">
            <div class="col-md">
                {% trans 'Šioje svetainėje naudojame slapukus (angl. „cookies“), kurie padeda užtikrinti geriausią patirtį. Plačiau apie tai' %}
                <a href="{% url 'web:document_privacy_policy' %}" target="_blank"
                   rel="nofollow">{% trans 'privatumo politikoje' %}</a>.
            </div>

            <div class="col-md-auto">
                <button class="btn btn-sm btn-primary" data-dismiss="popup" data-once-button="true">Sutinku</button>
            </div>
        </div>
    </div>

{% endblock %}

