{% load image_tags %}
<div class="col-md-6 col-xl-4">
    <div class="product-3">
        <a href="{% url 'web:pet_profile' pet.pk %}">
            <div class="product-media">
                <img src="{% resized_image pet.photo width=350 height=350 %}" alt="{{ pet.name }}">
            </div>

            <div class="product-detail">
                <h4>{{ pet.name }}</h4>
                <div class="product-price text-body">{{ pet.short_description }}</div>
            </div>
        </a>
    </div>
</div>
