{% load image_tags %}
<div class="col-md-6 col-xl-4">
    <div class="product-3 flex-grow">
        <a href="{{ pet.get_absolute_url }}">
            <div class="product-media">
                <img src="{% resized_image pet.photo width=510 height=680 %}"
                     alt="{{ pet.name }}"
                     loading="lazy"
                     width="510"
                     height="680">
            </div>

            <div class="product-detail">
                <h4>{{ pet.name }}</h4>
                <div class="product-price text-body">
                    {{ pet.short_description }}
                </div>
            </div>
        </a>
    </div>
</div>
