{% load image_tags %}
<div class="col-6 col-lg-3">
    <a class="card shadow-1 hover-shadow-6 flex-grow" href="{{ shelter.get_absolute_url }}">
        <img class="card-img-top"
             src="{% resized_image shelter.square_logo width=300 height=300 %}"
             alt="{{ shelter.name }}"
             loading="lazy"
             width="300"
             height="300">
        <div class="card-body text-center">
            <h6>{{ shelter.name }}</h6>
            <small class="small-5 text-lightest text-uppercase ls-2">
                {{ shelter.region.full_name }}
            </small>
        </div>
    </a>
</div>