{% load image_tags %}
<div class="col-md-6 col-lg-3 team-1">
    <img src="{% resized_image team_member.photo width=400 height=400 %}" alt="{{ team_member.name }}">
    <h6>{{ team_member.name }}</h6>
    <small>{{ team_member.role }}</small>
    <div class="social">
        <a class="social-skype" href="{{ team_member.facebook }}"><i class="fas fa-envelope"></i></a>
        <a class="social-facebook" href="{{ team_member.facebook }}"><i class="fab fa-facebook"></i></a>
        {% if team_member.linkedin %}
            <a class="social-linkedin" href="{{ team_member.linkedin }}"><i class="fab fa-linkedin"></i></a>
        {% endif %}
        {% if team_member.instagram %}
            <a class="social-instagram" href="{{ team_member.instagram }}"><i class="fab fa-instagram"></i></a>
        {% endif %}
    </div>
</div>