{% extends "web/base/base-page.html" %}
{% load static %}
{% load humanize %}

<!-- @formatter:off -->
{% block keywords %}ICO, STO, Bitcoin, BTC, Bitcoin Exchange, Bitcoin Market, Initial Coin Offering, Security Token Offering, ETH, Ethereum, Digital Currency, Currency{% endblock %}
{% block title %}{{ page_title }}{% endblock %}
{% block description %}{{ page_description }}{% endblock %}
{#{% block header_logo %}<img src="{% static "img/track-ico-square-logo.jpg" %}" width="72" height="72" data-pagespeed-no-defer>{% endblock %}#}

{% block head %}
    {% if request.path == '/' and not request.GET.urlencode %}
        <script type="application/ld+json">
 { "@context": "http://schema.org",
 "@type": "Organization",
 "name": "TrackICO",
 "url": "https://www.trackico.io/",
 "logo": "https://www.trackico.io/static/img/track-ico-square-logo.jpg",
 "contactPoint": {
 "@type": "ContactPoint",
 "contactType": "customer support",
 "email": "info@trackico.io",
 "url": "https://www.trackico.io/contact/"
 },
 "sameAs": [
 "https://www.linkedin.com/company/trackico/",
 "https://www.facebook.com/TrackICO/",
 "https://twitter.com/TrackICO",
 "https://t.me/trackico"
 ]}
        </script>
    {% endif %}
{% endblock %}
<!-- @formatter:on -->

{% block content %}
    <header class="header header-inverse bg-img" style="background-image: url(/static/img/intro-bg.jpg);"
            data-overlay="1">
        <div class="header-info">
            <div class="left">
            </div>
            <div class="right flex-middle mr-5">
                <div>
                    <a href="https://play.google.com/store/apps/details?id=lt.getpet.getpet&utm_source=web&utm_campaign=web">
                        <img alt="Gauti iš Google Play"
                             width="180"
                             src="https://play.google.com/intl/en_us/badges/images/generic/lt_badge_web_generic.png"/>
                    </a>
                </div>
                <div>
                    <a href="https://itunes.apple.com/us/app/getpet/id1450751703?ls=1&mt=8">
                        <img alt="Atsisiųsti iš App Store"
                             width="180"
                             src="{% static 'badge/ios-app-store.png' %}"/>
                    </a>
                </div>
            </div>
        </div>


    </header>
    <div class="container main-content">
        {{ block.super }}

        <div class="row equal-height">
            {% for item in items %}
                <div class="col-md-6 col-xl-4">
                </div>
            {% empty %}
                <div class="col-12 text-center">
                    Unfortunately no ICOs exists for current search criteria.
                </div>

            {% endfor %}
        </div>
    </div><!--/.main-content -->
{% endblock %}
