{% extends 'management/base/base-page-fullscreen.html' %}
{% load setting_tags %}
{% load i18n %}

{% block title %}{% trans "Vartotojas nesusietas su prieglauda" %}{% endblock %}

{% block fullscreen_content %}
    <div class="card card-transparent center-h text-center">
        <h1 class="text-secondary lh-1" style="font-size: 200px"><i class="fas fa-paw"></i></h1>
        <hr class="w-30px">
        <h3 class="text-uppercase">{% trans 'Vartotojas nesusietas su prieglauda' %}</h3>

        <p class="lead">
            {% trans 'Jūsų el. paštas: ' %} {{ user.email }}.<br>
            {% trans 'Jei manote, kad tai klaida, susisiekite su GetPet administracija' %}
            {% settings_value 'EMAIL_FROM' as contact_email %}

            {{ contact_email|urlize }}.
        </p>
        <div class="text-center">
            <a href="{% url 'management:pets_list' %}"
               class="btn btn-primary m-2">{% trans 'Bandyti dar kartą' %}
            </a>
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-warning">
                    {% trans 'Atsijungti' %}
                </button>
            </form>
        </div>
    </div>
{% endblock %}