{% extends 'management/base/base-page.html' %}
{% load image_tags %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Prieglaudos gyvūnų atnaujinimas" %}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/dropzone.min.css"
          integrity="sha256-NkyhTCRnLQ7iMv7F3TQWjVq25kLnjhbKEVPqGJBcCUg=" crossorigin="anonymous"/>
{% endblock %}

{% block content %}
    <div class="card mb-3">
        <div class="card-body p-3">
            <ol class="breadcrumb breadcrumb-arrow">
                <li class="breadcrumb-item">
                    <a href="{% url 'management:pets_list' %}">
                        <i class="fa fa-paw"></i>
                        {% trans 'Gyvūnai iš' %}
                        {{ pet.shelter.name }}
                    </a>
                </li>
                <li class="breadcrumb-item active">
                    {% if pet %}
                        {{ pet.name }}
                    {% else %}
                        {% trans 'Naujo prieglaudos gyvūno kūrimas' %}
                    {% endif %}
                </li>
            </ol>
        </div>
    </div>

    {% if request.GET.success %}
        <div class="alert alert-success" role="alert">
            {% if request.GET.success == 'create' %}
                {% trans 'Gyvūno profilis buvo sukurtas!' %}
            {% elif request.GET.success == 'update' %}
                {% trans 'Gyvūno profilis buvo atnaujintas!' %}
            {% endif %}
        </div>
    {% endif %}

    {% crispy form %}
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/dropzone.min.js"
            integrity="sha256-OG/103wXh6XINV06JTPspzNgKNa/jnP1LjPP5Y3XQDY=" crossorigin="anonymous"></script>

    <script data-provide="dropify">
        const PET_PROFILE_PHOTO_CLASS = 'pet-profile-photo';

        Dropzone.autoDiscover = false;

        let deletedFiles = [];

        function createHiddenInputElement(id, name, value) {
            let input = document.createElement("input");

            input.setAttribute("type", 'hidden');
            input.setAttribute("id", id);
            input.setAttribute("name", name);
            input.setAttribute("value", value);

            return input;
        }

        function createCheckboxElement(id, name, checked) {
            let input = document.createElement("input");

            input.setAttribute("type", 'checkbox');
            input.setAttribute("id", id);
            input.setAttribute("name", name);
            if (checked) {
                input.setAttribute('checked', 'checked');
            }

            return input;
        }

        function regenerateDropzoneJSFiles(files) {
            let petCells = files.concat(deletedFiles).map(function (currentFile, index) {
                let petCellDiv = document.createElement("div");
                petCellDiv.className = PET_PROFILE_PHOTO_CLASS;

                petCellDiv.appendChild(createHiddenInputElement(
                    'id_profile_photos-' + index + '-id',
                    'profile_photos-' + index + '-id',
                    currentFile.serverID
                ));

                petCellDiv.appendChild(createHiddenInputElement(
                    'id_profile_photos-' + index + '-pet',
                    'profile_photos-' + index + '-pet',
                    ""
                ));

                petCellDiv.appendChild(createHiddenInputElement(
                    'id_profile_photos-' + index + '-order',
                    'profile_photos-' + index + '-order',
                    index + 1
                ));

                petCellDiv.appendChild(createCheckboxElement(
                    'id_profile_photos-' + index + '-DELETE',
                    'profile_photos-' + index + '-DELETE',
                    currentFile.deleted,
                ));

                return petCellDiv;
            });

            const oldPetCells = document.getElementsByClassName(PET_PROFILE_PHOTO_CLASS);
            while (oldPetCells.length > 0) {
                oldPetCells[0].remove();
            }

            let petsFormset = document.getElementById('pets-formset');
            petCells.forEach(div => petsFormset.insertAdjacentElement('beforeend', div));

            document.getElementById('id_profile_photos-TOTAL_FORMS').value = petCells.length;
            document.getElementById('id_profile_photos-INITIAL_FORMS').value = petCells.length;
        }

        app.ready(function () {
            // https://stackoverflow.com/questions/454202/creating-a-textarea-with-auto-resize
            $('textarea').each(function () {
                this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
            }).on('input', function () {
                this.style.height = 'auto';
                this.style.height = (this.scrollHeight) + 'px';
            });

            $('#id_photo').dropify({
                messages: {
                    'default': '{% trans "Įkelkite profilio nuotrauką paspausdami arba nutempdami ją čia." %}',
                    'replace': '{% trans "Pakeisti profilio nuotrauką paspausdami arba nutempdami ją čia." %}',
                    'remove': '{% trans 'Panaikinti' %}',
                    'error': '{% trans "Apgailestaujame, tačiau nutiko klaida. Bandykite dar kartą." %}'
                }
            });

            new Dropzone("div#dropzone", {
                url: "{% url 'api_pet_profile_photo' %}",
                paramName: "photo",
                init: function () {
                    let self = this;
                    let images = [
                        {% for photo in pet.profile_photos.all %}
                            {% resized_image photo.photo width=120 as pet_photo %}

                            {
                                "id": {{ photo.id }},
                                "order": {{ photo.order }},
                                "url": "{{ pet_photo|escapejs }}",
                                "size": {{ photo.photo.size }},
                            },
                        {% endfor %}
                    ]

                    images.forEach(function (photo, index) {
                        let mockFile = {
                            name: (index + 1).toString(),
                            url: photo.url,
                            order: photo.order,
                            serverID: photo.id,
                            size: photo.size,
                            deleted: false,
                            accepted: true,
                        };

                        self.emit("addedfile", mockFile);
                        self.options.thumbnail.call(self, mockFile, mockFile.url);
                        self.emit("success", mockFile);
                        self.emit("complete", mockFile);
                        self.files.push(mockFile);
                    });
                    regenerateDropzoneJSFiles(this.files);
                },
                success: function (file, response) {
                    if (response === undefined) {
                        return
                    }
                    file.serverID = response.id;
                    file.order = response.order;
                    file.name = this.files.length.toString();
                    file.url = response.url;
                    file.deleted = false;

                    regenerateDropzoneJSFiles(this.files);
                },
                sending: function (file, xhr, formData) {
                    let order = this.files.map(function (obj, index) {
                        if (file === obj) {
                            return index;
                        }
                    }).filter(isFinite)[0];

                    formData.append("order", order);
                    {% if pet %}
                        formData.append("pet", {{ pet.id }});
                    {% endif %}
                },
                parallelUploads: 1,
                resizeHeight: 1024,
                resizeQuality: 1,
                addRemoveLinks: true,
                acceptedFiles: 'image/*',
                headers: {
                    'X-CSRFToken': "{{ csrf_token }}"
                },
                dictDefaultMessage: "{% trans 'Tempkite arba spauskite norėdami įkelti nuotraukas' %}",
                dictRemoveFile: "{% trans 'Panaikinti' %}",
                dictCancelUpload: "{% trans 'Atšaukti' %}",
                removedfile: function (file) {
                    file.deleted = true;
                    deletedFiles.push(file);

                    regenerateDropzoneJSFiles(this.files);

                    let _ref = file.previewElement;
                    return _ref != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
                }
            });
        });
    </script>

{% endblock %}