{% extends 'management/base/base-page.html' %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Prieglaudos gyvūnų atnaujinimas" %}{% endblock %}

{% block content %}
    {% crispy form %}

    {% crispy pet_photo_form_set pet_photo_form_set.form.helper %}
{% endblock %}

{% block script %}

    <script data-provide="dropify">
        function initDropifyPetPhoto() {
            $('.photo').dropify(
                {
                    messages: {
                        default: '{% trans 'Nutempkite nuotrauką arba paspauskite ir įdėkite naują nuotrauką' %}',
                        replace: '{% trans 'Pakeiskite nuotrauką' %}'
                    }
                });
        }

        app.ready(function () {
            initDropifyPetPhoto();
        })
    </script>

{% endblock %}