{% extends 'management/base/base-page.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Prieglaudos gyvūnų administravimas" %}{% endblock %}

{% block main_aside %}
    <aside class="aside aside-expand-md">
        <div class="aside-body">
            {% crispy filters_form %}
        </div>

        <button class="aside-toggler"></button>
    </aside>
    <!-- END Page aside -->


{% endblock %}

{% block content %}
    {% for pet in pets %}
        {% include 'management/cell/pet-big-cell.html' with pet=pet %}
    {% endfor %}

    <footer class="flexbox align-items-center mb-4">
        {% include 'management/widget/pagination.html' with paginator_page=page_obj %}
    </footer>

{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            $(".aside-block").submit(function () {
                $(this).find(':input').filter(function () {
                    return !this.value;
                }).attr('disabled', 'disabled');
                return true;
            });
        })
    </script>
{% endblock %}