<div class="card b-1 hover-shadow-2 mb-20">
    <a class="media card-body" href="#">
        <div class="media-left pr-12">
            <img class="avatar avatar-xl no-radius"
                 src="{{ pet.main_profile_medium }}"
                 loading="lazy"
                 alt="{{ pet.name }}">
        </div>

        <div class="media-body">
            <div class="mb-2">
                <span class="fs-20 pr-16">{{ pet.name }}</span>
                <span class="badge badge-success text-uppercase no-radius ls-1 opacity-75">
                    {{ pet.get_status_display }}
                </span>
            </div>
            <p class="fs-16 fw-300 ls-1 small text-truncate">{{ pet.description }}</p>
        </div>

        <div class="media-right text-right d-none d-md-block">
            <p class="fs-14 text-fade mb-12"><i class="fa fa-map-marker pr-1"></i> Menlo Park, CA</p>
            <span class="text-fade fs-12">Applicants: <strong>0</strong></span>
        </div>
    </a>
</div>