{% load i18n %}

<div class="card b-1 hover-shadow-2 mb-20">
    <a class="media card-body" href="{{ pet.edit_pet_url }}">
        <div class="media-left pr-12">
            <img class="rounded border"
                 src="{{ pet.main_profile_medium }}"
                 width="64"
                 height="64"
                 loading="lazy"
                 alt="{{ pet.name }}">
        </div>

        <div class="media-body">
            <div class="mb-2">
                <span class="fs-20 pr-16 align-middle">{{ pet.name }}</span>
                <span class="badge {{ pet.pet_status_badge_color_class }} text-uppercase ls-1 opacity-75 align-middle">
                    {{ pet.get_status_display }}
                </span>
            </div>
            <p class="fs-16 fw-300 ls-1 small text-truncate">{{ pet.description }}</p>
        </div>

        <div class="media-right text-right d-none d-md-block">
            <p class="fs-14 text-fade mb-12"><i class="fa fa-id-card-o pr-1"></i> {{ pet.pk }}</p>
            <span class="text-fade fs-12">
                <i class="fa fa-thumbs-o-up"></i> <strong>{{ pet.likes_count }}</strong>
                <i class="fa fa-thumbs-o-down ml-2"></i> <strong>{{ pet.dislikes_count }}</strong>
            </span>
        </div>
    </a>
</div>