{% extends 'web/base/base-page.html' %}
{% load i18n %}

{% block title %}{% trans 'Svajonių šunys' %}{% endblock %}
{% block description %}
    {% trans 'Čia rasite visus GetPet beglobius šunis, ieškančių kelio į naujus namus. Padėkite jiems jį surasti.' %}
{% endblock %}

{% block content %}
    <section class="section bg-gray">
        <div class="container">
            <div class="row equal-height gap-y">
                {% for pet in pets %}
                    {% include 'web/element/pet-card.html' with pet=pet %}
                {% endfor %}
                <div class="col-12">
                    {% include 'web/miscellaneous/pagination.html' with paginator_page=page_obj %}
                </div>
            </div>
        </div>
    </section>

    {% include 'web/sections/app-section.html' %}
{% endblock %}
