{% extends 'web/base/base-page.html' %}
{% load text_tags %}
{% load i18n %}
{% load site_tags %}
{% load image_tags %}

{% block title %}{% trans 'Šuo' %} {{ pet.name }} - {{ pet.short_description|lower_first }}{% endblock %}
{% block description %}{{ pet.description|truncatechars:"160" }}{% endblock %}
{% block image %}{% full_path pet.photo.url %}{% endblock %}

{% block navbar_class %}navbar-dark navbar-stick-dark{% endblock %}

{% block header %}
    <header class="header text-center pb-6 pt-9">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <small class="fs-10 text-uppercase mb-2">
                        <a href="{% url 'web:shelter_profile' pet.shelter.slug %}">{{ pet.shelter.name }}</a>
                    </small>
                    <h1 class="display-2">{{ pet.name }}</h1>
                    <p class="lead-3 opacity-90">{{ pet.short_description }}</p>
                </div>
            </div>

        </div>
    </header>
{% endblock %}

{% block content %}
    <section class="section pt-2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div data-provide="photoswipe">
                        <div data-provide="slider" data-dots="true" data-slides-to-show="2">
                            {% for photo in pet.all_photos %}
                                <a class="gallery-item mw-100" href="{{ photo.url }}">
                                    <img src="{% resized_image photo width=600 height=500 %}"
                                         class="border"
                                         data-original-src="{{ photo.url }}"
                                         data-original-src-width="{{ photo.width }}"
                                         data-original-src-height="{{ photo.height }}"
                                         alt="{{ pet.name }} {% trans 'nuotrauka' %} {{ forloop.counter }}">
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>


                <div class="col-12">
                    <h4 class="mt-7">{% trans 'Svajonių augintinio aprašymas' %}</h4>
                </div>

                <div class="col-md-7">
                    {{ pet.description|linebreaks }}
                </div>

                <div class="col-md-4 ml-auto">
                    <ul class="project-detail">
                        <li>
                            <strong>{% trans 'Lytis' %}</strong>
                            <span>{{ pet.get_gender_display }} ({{ pet.desexed_status_text }})</span>
                        </li>

                        <li>
                            <strong>{% trans 'Amžius' %}</strong>
                            <span>{% trans 'Apie' %} {{ pet.age }} {% trans 'm.' %}</span>
                        </li>
                        {% block pet_specific_list_items %}
                            <li>
                                <strong>{% trans 'Dydis' %}</strong>
                                <span>{{ pet.get_size_display }}
                                    {% if pet.weight %}
                                        ({% trans 'apie' %} {{ pet.weight }} kg)
                                    {% endif %}
                            </span>
                            </li>
                        {% endblock %}
                        <li>
                            <strong>{% trans 'Pastabos' %}</strong>
                            <span>{{ pet.properties_list|join:", "|lower|capfirst|default:"-" }}</span>
                        </li>

                        <li>
                            <strong>{% trans 'Specialūs sveikatos poreikiai ir būklės' %}</strong>
                            <span>{{ pet.special_information|default:"-" }}</span>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </section>

    <section class="section py-8 bg-gray">
        <div class="container">
            <header class="section-header">
                <h2>{% trans 'Pasiruošęs pasimatymui ?' %}</h2>
                <hr>
                <p>
                    {% trans 'Susisiek su prieglaudos atstovu. Paminėk, kad kreipiesi per GetPet ir susitark dėl pasimatymo!' %}
                </p>
                <p>
                    {% trans 'Kai gyvūną priglausi į savo šeimą, GetPet paskirs tau asmeninį mentorių sklandžiai draugystės pradžiai!' %}
                </p>
            </header>

            {% with shelter=pet.shelter %}
                {% include 'web/element/shelter-info-content.html' with shelter=shelter %}
            {% endwith %}
        </div>
    </section>

    {% include 'web/sections/pet-profile/more-shelter-pets-section.html' with shelter=pet.shelter pets=pet.similar_dogs_from_same_shelter %}

    {% include 'web/sections/app-section.html' with section_css_class='bg-gray' %}

{% endblock %}
