{% load static %}
<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="UTF-8">
    <title>GePet</title>
    <meta name="description"
          content="Laikinoji gyvūnų globa su specialiai tau priskirto mentoriaus pagalba jau tuoj Vilniaus mieste!">
    <style>
        html, body {
            height: 100%;
        }

        html {
            display: table;
            margin: auto;
        }

        body {
            display: table-cell;
            vertical-align: middle;
            margin: 0;
            padding: 0;
            background-color: #fa6171;
        }
    </style>
</head>
<body>
<div>
    <img src="{% static 'logo/getpet-logo.png' %}" alt="GetPet">
</div>

</body>
</html>