{% extends 'web/base/base-page.html' %}
{% load l10n %}
{% load i18n %}
{% load site_tags %}
{% load image_tags %}
{% load static %}
{% load tel_tags %}

{% block title %}GetPet - Čia prasideda draugystė :){% endblock %}

{% block header %}
    <header class="header text-white" style="background-image: url({% static 'img/intro-bg.jpg' %})">
        <div class="bg-primary overlay opacity-80"></div>

        <div class="container text-center">

            <div class="row h-100">
                <div class="col-lg-8 mx-auto align-self-center">

                    <h1 class="display-4 my-6"><strong>GetPet</strong></h1>
                    <p class="lead-3">TODO: The <b>most popular</b> HTML, CSS, and JS <b>framework</b> in the world for
                        building responsive, mobile-first projects <b>on the web</b>.</p>
                    <hr class="w-80px">
                    <div>
                        <a class="btn btn-xl btn-round btn-outline-light"
                           href="{% url 'web:all_pets' %}">{% trans 'Svajonių augintiniai' %}</a>
                    </div>

                </div>
            </div>

        </div>
    </header>

{% endblock %}

{% block content %}
    <!-- GetPet steps -->
    {% include 'web/sections/getpet-steps-section.html' %}
    <!-- End of GetPet steps -->

    <!-- Pets -->
    {% include 'web/sections/pets-section.html' with section_css_class='bg-gray' %}
    <!-- End of Pets -->

    <!-- Section download app-->
    {% include 'web/sections/app-section.html' %}
    <!-- End of Section download app-->

    <!-- GetPet history -->
    {% include 'web/sections/history-section.html' with section_css_class='bg-gray' %}
    <!-- End of GetPet history -->

    <!-- GetPet history photos -->
    {% include 'web/sections/history-photos-section.html' with section_css_class='p-0' %}
    <!-- End of GetPet history photos -->

    <!-- Team -->
    {% include 'web/sections/team-members-section.html' with section_css_class='bg-gray' %}
    <!-- End of Team -->

    <!-- Benefits for shelter -->
    {% include 'web/sections/benefits-for-shelters-section.html' %}
    <!-- End of Benefits for shelter -->

    <!-- More info for shelter -->
    {% include 'web/sections/more-info-for-shelter-section.html' with section_css_class='bg-gray' %}
    <!-- End of More info for shelter -->

    {#    <!-- FAQ -->#}
    {#    {% include 'web/sections/faq-section.html' %}#}
    {#    <!-- End of FAQ -->#}

    <!-- Media -->
    {% include 'web/sections/media-section.html' with section_css_class='bg-gray' %}
    <!-- End of Media -->

    <!-- Section Contact us -->
    {% include 'web/sections/contact-us-section.html' %}
    <!-- End of Section Contact us -->
{% endblock %}