{% extends 'web/base/base-page.html' %}
{% load l10n %}
{% load i18n %}
{% load site_tags %}
{% load image_tags %}
{% load static %}
{% load tel_tags %}

{% block title %}GetPet - Čia prasideda draugystė :){% endblock %}
{% block navbar_class %}navbar-light navbar-stick-dark{% endblock %}

{% block header %}
    <header class="header text-white h-fullscreen" style="background-image: url({% static 'img/intro-bg.jpg' %})">
        <div class="bg-primary overlay opacity-80"></div>

        <div class="container text-center">

            <div class="row h-100">
                <div class="col-lg-8 mx-auto align-self-center">

                    <h1 class="display-4 my-6"><strong>GetPet</strong></h1>
                    <p class="lead-3">The <b>most popular</b> HTML, CSS, and JS <b>framework</b> in the world for
                        building responsive, mobile-first projects <b>on the web</b>.</p>

                    <hr class="w-80px">

                    <p>
                        <a class="btn btn-xl btn-round btn-outline-light w-250" href="#">Download Now</a>
                        <br>
                        <span class="opacity-60 small-3">Currently v4.2.1</span>
                    </p>

                </div>
            </div>

        </div>
    </header>

{% endblock %}

{% block content %}
    <!-- GetPet steps -->
    <section class="section">
        <div class="container">
            <header class="section-header mb-6">
                <h2>{% trans 'Surask - Pažink - Augink' %}</h2>
                <p class="lead">{% trans 'Vos trys paprasti žingsniai' %}</p>
            </header>
            <div class="row gap-y align-items-center py-7">
                <div class="col-md-6 text-center">
                    <img src="https://thetheme.io/thesaas/assets/img/vector/1.png" alt="...">
                </div>

                <div class="col-md-5 ml-auto text-center text-md-left">
                    <p class="lead-9 fw-900 lh-1 opacity-10">01</p>
                    <h3 class="h2">{% trans 'Surask' %}</h3>
                    <p>Think the or organization same proposal to affected heard reclined in be it reassuring are
                        attained opinion, by he neighbours even again. Is and by value and that like can could from
                        world takes of great copy and delicacy compared he such that the in and with himself a the
                        man.</p>
                </div>
            </div>


            <div class="row gap-y align-items-center py-7">
                <div class="col-md-5 mr-auto text-center text-md-left">
                    <p class="lead-9 fw-900 lh-1 opacity-10">02</p>
                    <h3 class="h2">{% trans 'Pažink' %}</h3>
                    <p>Think the or organization same proposal to affected heard reclined in be it reassuring are
                        attained opinion, by he neighbours even again. Is and by value and that like can could from
                        world takes of great copy and delicacy compared he such that the in and with himself a the
                        man.</p>
                </div>

                <div class="col-md-6 text-center order-first order-md-last">
                    <img src="https://thetheme.io/thesaas/assets/img/vector/2.png" alt="...">
                </div>
            </div>


            <div class="row gap-y align-items-center py-7">
                <div class="col-md-6 text-center">
                    <img src="https://thetheme.io/thesaas/assets/img/vector/3.png" alt="...">
                </div>

                <div class="col-md-5 ml-auto text-center text-md-left">
                    <p class="lead-9 fw-900 lh-1 opacity-10">03</p>
                    <h3 class="h2">{% trans 'Augink' %}</h3>
                    <p>Think the or organization same proposal to affected heard reclined in be it reassuring are
                        attained opinion, by he neighbours even again. Is and by value and that like can could from
                        world takes of great copy and delicacy compared he such that the in and with himself a the
                        man.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End of GetPet steps -->

    <!-- Pets -->
    <section class="section bg-gray">
        <div class="container">
            <header class="section-header">
                <h2>{% trans 'Tik keli gyvūnai' %}</h2>
                <hr>
                <p class="lead">You can find several product design by our professional team in this section.</p>
            </header>


            <div class="row gap-y">
                {% for pet in pets %}
                    {% include 'web/element/pet-card.html' with pet=pet %}
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- End of Pets -->

    <!-- GetPet history -->
    <section id="section-mission" class="section">
        <div class="container">
            <header class="section-header">
                <h2>About us</h2>
                <hr>
                <p class="lead">Our company was founded in 2013 with a mission to create pretty templates for
                    great startups. We can combine beautiful, modern designs with clean, functional and
                    high-performance code to produce stunning websites. And best of all, we are super passionate
                    about our work. Thought does cognitive into follow and rationale annoyed.</p>
            </header>
        </div>
    </section>
    <!-- End of GetPet history -->


    <!-- GetPet history photos -->
    <section class="section p-0">
        <div data-provide="slider" data-autoplay="true" data-slides-to-show="2" data-css-ease="linear"
             data-speed="12000" data-autoplay-speed="0" data-pause-on-hover="false">
            <div class="p-2">
                <div class="rounded bg-img h-400"
                     style="background-image: url(https://thetheme.io/thesaas/assets/img/thumb/14.jpg)"></div>
            </div>

            <div class="p-2">
                <div class="rounded bg-img h-400"
                     style="background-image: url(https://thetheme.io/thesaas/assets/img/thumb/15.jpg)"></div>
            </div>

            <div class="p-2">
                <div class="rounded bg-img h-400"
                     style="background-image: url(https://thetheme.io/thesaas/assets/img/thumb/12.jpg)"></div>
            </div>

            <div class="p-2">
                <div class="rounded bg-img h-400"
                     style="background-image: url(https://thetheme.io/thesaas/assets/img/thumb/13.jpg)"></div>
            </div>
        </div>
    </section>
    <!-- End of GetPet history photos -->

    <!-- Section Team -->
    <section class="section bg-gray">
        <div class="container">
            <header class="section-header">
                <h2>Executive Team</h2>
                <hr>
                <p class="lead">Meet our small team that make those great products.</p>
            </header>


            <div class="row gap-y">
                {% for team_member in team_members %}
                    {% include 'web/element/team-member.html' with team_member=team_member %}
                {% endfor %}
            </div>

        </div>
    </section>
    <!-- End of Section Team -->

    <!-- Section FAQ -->
    <section class="section">
        <div class="container">
            <header class="section-header">
                <small>FAQ</small>
                <h2>Frequently Asked Questions</h2>
                <hr>
                <p>Got a question? We've got answers. If you have some other questions, contact us using email.</p>
            </header>


            <div class="row gap-y">
                <div class="col-md-6 col-xl-4">
                    <h5>Is this a secure site for purchases?</h5>
                    <p>Absolutely! We work with top payment companies which guarantees your safety and security. All
                        billing information is stored on our payment processing partner which has the most stringent
                        level of certification available in the payments industry.</p>
                </div>


                <div class="col-md-6 col-xl-4">
                    <h5>Can I cancel my subscription?</h5>
                    <p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you
                        will not be charged next month. You will continue to have access to your account until your
                        current subscription expires.</p>
                </div>


                <div class="col-md-6 col-xl-4">
                    <h5>How long are your contracts?</h5>
                    <p>Currently, we only offer monthly subscription. You can upgrade or cancel your monthly account at
                        any time with no further obligation.</p>
                </div>


                <div class="col-md-6 col-xl-4">
                    <h5>Can I update my card details?</h5>
                    <p>Yes. Go to the billing section of your dashboard and update your payment information.</p>
                </div>


                <div class="col-md-6 col-xl-4">
                    <h5>Can I request refund?</h5>
                    <p>Unfortunately, not. We do not issue full or partial refunds for any reason.</p>
                </div>


                <div class="col-md-6 col-xl-4">
                    <h5>Can I try your service for free?</h5>
                    <p>Of course! We’re happy to offer a free plan to anyone who wants to try our service.</p>
                </div>
            </div>

        </div>
    </section>
    <!-- End of Section FAQ -->


    <!-- Section download app-->
    <section class="section bg-gray" id="download">
        <div class="container">
            <div class="row">

                <div class="col-md-6 align-self-center pb-6 pb-md-8">
                    <h2 class="mb-5">Available on iOS and Android</h2>
                    <p>As absolute is by amounted repeated entirely ye returned. These ready timed enjoy might sir yet
                        one since. Years drift never if could forty being no. On estimable dependent as suffering on
                        my.</p>

                    <div class="gap-xy-2 my-6">
                        <a href="#"><img src="https://thetheme.io/thesaas/assets/img/app/badge-apple.png"
                                         alt="download on app store"></a>
                        <a href="#"><img src="https://thetheme.io/thesaas/assets/img/app/badge-google.png"
                                         alt="download on google play"></a>
                    </div>
                </div>

                <div class="col-md-6 align-self-end text-center">
                    <img src="https://thetheme.io/thesaas/assets/img/vector/26.png" alt="...">
                </div>

            </div>
        </div>
    </section>
    <!-- End of Section download app-->


{% endblock %}