{% extends 'web/base/base-page.html' %}
{% load i18n %}

{% block title %}{% trans 'GetPet mentoriai' %}{% endblock %}
{% block description %}{% trans 'TODO parengti aprašymą' %}{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            {% for mentor in mentors %}
                {% include 'web/element/mentor-card.html' with mentor=mentor even=forloop.counter0|divisibleby:"2" %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
