{% extends 'web/base/base-page.html' %}
{% load i18n %}

{% block title %}{% trans 'GetPet mentoriai' %}{% endblock %}
{% block description %}
    {% trans 'Kiekvienam naujam GetPet augintinio šeimininkui suteikiama nemokama mentorių pagalba dviems savaitėms.' %}
{% endblock %}

{% block header_description %}
    {% trans 'Per GetPet namus radusių gyvūnų ir naujųjų šeimininkų nepaliekame vienų.<br> Pirmas dvi savaites GetPet nemokamai skiria jiems mentorius, kurie pagelbės įvairiais augintinių klausimais: kodėl gyvūnas nevalgo, kodėl taip elgiasi, kur kreiptis pagalbos?' %}
{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            {% for mentor in mentors %}
                {% include 'web/element/mentor-card.html' with mentor=mentor even=forloop.counter0|divisibleby:"2" %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
