{% extends 'web/base/base-page.html' %}
{% load i18n %}

{% block description %}{% trans 'TODO parengti aprašymą' %}{% endblock %}

{% block header %}
    <header class="header text-center text-white bg-primary">
        <div class="container">

            <div class="row">
                <div class="col-md-8 mx-auto">
                    <h1 class="display-4">
                        {% block title %}{% trans 'GetPet mentoriai' %}{% endblock %}
                    </h1>
                    <p class="lead-2 opacity-90 mt-6">
                        {% trans 'TODO parengti aprašymą.' %}
                    </p>

                </div>
            </div>

        </div>
    </header>
{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            {% for mentor in mentors %}
                {% include 'web/element/mentor-card.html' with mentor=mentor even=forloop.counter0|divisibleby:"2" %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
