{% extends 'web/base/base-page.html' %}

{% load l10n %}
{% load i18n %}
{% load image_tags %}
{% load static %}
{% load tel_tags %}

{% block title %}{{ pet.name }} - {{ pet.short_description }}{% endblock %}
{% block image %}{{ pet.photo.url }}{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <header class="section-header mb-6">
                <h1>{{ pet.name }}</h1>
                <p class="lead">{{ pet.short_description }}</p>
            </header>

            <div class="row">
                <div class="col-12">
                    <div data-provide="photoswipe">
                        <div data-provide="slider" data-dots="true" data-slides-to-show="2">
                            {% for photo in pet.all_photo_urls %}
                                <a class="gallery-item mw-100" href="{{ photo }}">
                                    <img src="{% resized_image photo width=600 height=500 %}"
                                         alt="{{ pet.name }} {% trans 'nuotrauka' %} {{ forloop.counter }}">
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>


                <div class="col-12">
                    <h5 class="mt-7">{% trans 'Svajonių augintinio aprašymas' %}</h5>
                </div>

                <div class="col-md-7">
                    {{ pet.description|linebreaks }}
                </div>

                <div class="col-md-4 ml-auto">
                    <ul class="project-detail">
                        <li>
                            <strong>{% trans 'Lytis' %}</strong>
                            <span>{{ pet.get_gender_display }} ({{ pet.desexed_status_text }})</span>
                        </li>

                        <li>
                            <strong>{% trans 'Amžius' %}</strong>
                            <span>{% trans 'Apie' %} {{ pet.age }} {% trans 'metus' %}</span>
                        </li>

                        <li>
                            <strong>{% trans 'Dydis' %}</strong>
                            <span>{{ pet.get_size_display }}
                                {% if pet.weight %}
                                    ({% trans 'apie' %} {{ pet.weight }} kg)
                                {% endif %}
                            </span>
                        </li>
                        <li>
                            <strong>{% trans 'Pastabos' %}</strong>
                            <span>{{ pet.properties_list|join:", "|lower|default:"-" }}</span>
                        </li>

                        <li>
                            <strong>{% trans 'Specialūs sveikatos poreikiai ir būklės' %}</strong>
                            <span>{{ pet.special_information|default:"-" }}</span>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </section>

    <section class="section py-8 bg-gray">
        <div class="container">
            <header class="section-header">
                <h2>{% trans 'Pasiruošęs pasimatymui ?' %}</h2>
                <hr>
                <p>
                    {% trans 'Susisiek su prieglaudos atstovu. Paminėk, kad kreipiesi per GetPet ir susitark dėl pasimatymo!' %}
                </p>
                <p>
                    {% trans 'Kai gyvūną priglausi į savo šeimą, GetPet paskirs tau asmeninį mentorių sklandžiai draugystės pradžiai!' %}
                </p>
            </header>

            {% with shelter=pet.shelter %}
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <div class="h-100"
                             data-provide="map"
                             data-lat="{{ shelter.latitude.normalize|unlocalize }}"
                             data-lng="{{ shelter.longitude|unlocalize }}"
                             data-marker-lat="{{ shelter.latitude|unlocalize }}"
                             data-marker-lng="{{ shelter.longitude|unlocalize }}"
                             data-info="{{ shelter.address }}"
                             data-style="light"
                             style="min-height: 350px"></div>
                    </div>

                    <div class="col-10 col-md-4 mx-auto align-self-center py-8">
                        <p class="text-uppercase small opacity-50 fw-600 ls-1">{% trans 'Glboos įstaiga' %}</p>
                        <h5>{{ shelter.name }}</h5>
                        <br>
                        <p>{{ shelter.address }}</p>
                        <p>
                            {% trans 'Telefonas' %} {{ shelter.phone|urltel }}
                            <br>
                            {% trans 'El. paštas' %}: {{ shelter.email|urlize }}
                        </p>
                        <div class="social social-lg social-inline">
                            {% if shelter.website %}
                                <a class="social-skype" href="{{ shelter.website }}" rel="nofollow" target="_blank">
                                    <i class="fas fa-globe"></i>
                                </a>
                            {% endif %}

                            {% if shelter.facebook %}
                                <a class="social-facebook" href="{{ shelter.facebook }}" rel="nofollow"
                                   target="_blank">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            {% endif %}

                            {% if shelter.instagram %}
                                <a class="social-instagram" href="{{ shelter.instagram }}" rel="nofollow"
                                   target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>

                </div>
            {% endwith %}
        </div>
    </section>
{% endblock %}
