{% extends 'web/base/base-page.html' %}
{% load site_tags %}
{% load i18n %}

{% block title %}{{ shelter.name }}{% endblock %}
{% block description %}
    Čia rasite visus {{ shelter.name }} beglobius gyvūnus, ieškančių kelio į naujus namus. Padėkite jiems jį surasti.
{% endblock %}

{% block header_description %}
    {% trans 'Gyvūnų globos organizacija, kuriai rūpi gyvūnų likimas' %}
{% endblock %}

{% block image %}{% full_path shelter.square_logo.url %}{% endblock %}

{% block head %}
    <script type="application/ld+json">
        {{ shelter.json_ld|safe }}
    </script>
{% endblock %}

{% block content %}
    <section class="section bg-gray">
        <div class="container">
            <div class="row equal-height gap-y">
                {% for pet in pets %}
                    {% include 'web/element/pet-card.html' with pet=pet %}
                {% endfor %}
                <div class="col-12">
                    {% include 'web/miscellaneous/pagination.html' with paginator_page=page_obj %}
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            {% include 'web/element/shelter-info-content.html' with shelter=shelter %}
        </div>
    </section>
{% endblock %}
