{% load static %}
{% load i18n %}
<section class="section {{ section_css_class }}" id="section-app">
    <div class="container">
        <header class="section-header">
            <h2>{% trans 'Žaisminga mobilioji programėlė' %}</h2>
        </header>

        <div class="row">
            <div class="col-md-6 align-self-center pb-6 pb-md-8">
                <h2 class="mb-5 text-center text-sm-left">{% trans 'Prieinama iOS ir Android platformose' %}</h2>
                <p class="text-center text-sm-left">
                    {% trans 'Visus GetPet beglobius augintinius rasi patogioje mobiliojoje aplikacijoje. Parsisiųsk jau dabar ir pradėk savo svajonių augintinio paiešką.' %}
                </p>


                <div class="gap-xy-2 my-6 text-center text-sm-left">
                    <a href="https://play.google.com/store/apps/details?id=lt.getpet.getpet&hl=lt&pcampaignid=web"
                       target="_blank"
                       rel="me">
                        <img src="{% static 'web/img/landing/google-play-download-button.png' %}"
                             alt="{% trans 'Atsisiųsti iš Google play' %}">
                    </a>


                    <a href="https://apps.apple.com/lt/app/getpet/id1450751703"
                       target="_blank"
                       rel="me">
                        <img src="{% static 'web/img/landing/ios-app-store-download-button.png' %}"
                             alt="{% trans 'Atsisiųsti iš Apple App Store' %}">
                    </a>

                </div>
            </div>

            <div class="col-md-6 align-self-end text-center">
                <img src="{% static 'web/img/landing/getpet-mobile-app-illustration.png' %}"
                     alt="{% trans 'GetPet mobilioji programėlė' %}">
            </div>

        </div>
    </div>
</section>
