{% load i18n %}
<section class="section {{ section_css_class }}" id="section-app">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center pb-6 pb-md-8">
                <h2 class="mb-5">Available on iOS and Android</h2>
                <p>As absolute is by amounted repeated entirely ye returned. These ready timed enjoy might sir yet
                    one since. Years drift never if could forty being no. On estimable dependent as suffering on
                    my.</p>

                <div class="gap-xy-2 my-6">
                    <a href="https://play.google.com/store/apps/details?id=lt.getpet.getpet&hl=lt&pcampaignid=web"
                       target="_blank"
                       rel="me">
                        <img src="https://thetheme.io/thesaas/assets/img/app/badge-apple.png"
                             alt="{% trans 'Atsisiųsti iš Google play' %}"></a>
                    <a href="https://apps.apple.com/lt/app/getpet/id1450751703"
                       target="_blank"
                       rel="me">
                        <img src="https://thetheme.io/thesaas/assets/img/app/badge-google.png"
                             alt="{% trans 'Atsisiųsti iš Apple App Store' %}"></a>
                </div>
            </div>

            <div class="col-md-6 align-self-end text-center">
                <img src="https://thetheme.io/thesaas/assets/img/vector/26.png" alt="...">
            </div>

        </div>
    </div>
</section>
