{% load static %}
{% load i18n %}
<section class="section {{ section_css_class }}" id="section-benefits-for-shelters">
    <div class="container">
        <header class="section-header">
            <h2>{% trans 'GetPet teikiamos naudos gyvūnų globos įstaigoms' %}</h2>
            <hr>
            <p class="lead">
                {% trans 'GetPet kūrėjų tikslas - sukurti šiuolaikišką, nepriklausomą ir vieningą globos platformą gyvūnų globos įstaigose laikomiems gyvūnams. Užtikrinkite, kad Jūsų gyvūnus pamatytų visa Lietuva!' %}
            </p>
        </header>


        <div class="row gap-y align-items-center">
            <div class="col-md-6 ml-auto">
                <h4>{% trans 'GetPet mentoriai Jūsų gyvūnams' %}</h4>
                <p>
                    {% trans 'Daugelio patirtys rodo, kad beglobiui atvykus į naujus namus, dažnai prireikia pereinamojo etapo tiek augintiniui, tiek naujajam jo šeimininkui susiderinti tarpusavio bendravimo taisykles, pažinti vienas kito poreikius, bei išmokti sklandžiai “susikalbėti”. Šiame etape kyla nesusipratimų ir iššūkių, kuriuos spręsti gali padėti žmogus, turintis šioje srityje patirties. Būtent tokių žmonių, kurie nori ir gali kuruoti naujojo augintinio ir šeimininko santykius pirmosiomis jų bendro gyvenimo savaitėmis, pagalbą siūlome perGetPet įglobintiems augintininiams.' %}
                </p>
            </div>

            <div class="col-md-5 order-md-first">
                <img class="rounded shadow-2"
                     src="{% static 'web/img/landing/benefits/getpet-menthors.png' %}"
                     alt="{% trans 'GetPet mentoriai' %}">
            </div>
        </div>

        <hr class="my-8">

        <div class="row gap-y align-items-center">
            <div class="col-md-6 mr-auto">
                <h4>{% trans 'Žaismingos GetPet Android ir iOS programėles' %}</h4>
                <p>Last week we shipped outdated comments...well, brought them back, actually. We used to show collapsed
                    comments on outdated diffs as a single line, but removed that when we shipped code review recently.
                    We brought that back last week with an improvement: you can now toggle open threads on outdated
                    diffs in a review individually.</p>
            </div>

            <div class="col-md-5">
                <img class="rounded shadow-2"
                     src="{% static 'web/img/landing/benefits/getpet-applications.png' %}"
                     alt="{% trans 'Žaismingos GetPet Android ir iOS programėles' %}">
            </div>
        </div>

        <hr class="my-8">

        <div class="row gap-y align-items-center">
            <div class="col-md-6 ml-auto">
                <h4>{% trans 'Visi prieglaudos gyvūnai internetinėje svetainėje' %}</h4>

                <p>Less an illustration, and more a literal proxy. These show up when the feature's introduced.
                    Monotonectally leverage existing standards compliant ideas with distributed data. Efficiently
                    simplify cross-unit systems whereas adaptive testing. Monotonectally leverage existing standards
                    compliant ideas with distributed data. Efficiently simplify cross-unit systems whereas adaptive
                    testing.</p>
            </div>

            <div class="col-md-5 order-md-first">
                <img class="rounded shadow-2"
                     src="{% static 'web/img/landing/benefits/getpet-website.png' %}"
                     alt="{% trans 'Visi prieglaudos gyvūnai internetinėje svetainėje' %}">

            </div>
        </div>

        <hr class="my-8">

        <div class="row gap-y align-items-center">
            <div class="col-md-6 mr-auto">
                <h4>{% trans 'Gyvūnų administravimo platforma' %}</h4>
                <p>Last week we shipped outdated comments...well, brought them back, actually. We used to show collapsed
                    comments on outdated diffs as a single line, but removed that when we shipped code review recently.
                    We brought that back last week with an improvement: you can now toggle open threads on outdated
                    diffs in a review individually.</p>
            </div>

            <div class="col-md-5">
                <img class="rounded shadow-2"
                     src="{% static 'web/img/landing/benefits/getpet-shelter-administration-platform.png' %}"
                     alt="{% trans 'Gyvūnų administravimo platforma' %}">
            </div>
        </div>
    </div>
</section>