{% load static %}
{% load i18n %}
<section class="section {{ section_css_class }}" id="section-benefits-for-shelters">
    <div class="container">
        <header class="section-header">
            <h2>{% trans 'GetPet teikiamos naudos gyvūnų globos organizacijoms' %}</h2>
            <hr>
            <p class="lead">
                {% trans 'GetPet kūrėjų tikslas - sukurti šiuolaikišką, nepriklausomą ir vieningą globos platformą gyvūnų globos įstaigose laikomiems gyvūnams. Užtikrinkite, kad Jūsų gyvūnus pamatytų visa Lietuva!' %}
            </p>
        </header>


        <div class="row gap-y align-items-center">
            <div class="col-md-6 ml-auto">
                <h4>{% trans 'GetPet mentoriai' %}</h4>
                <p>
                    {% trans 'Patirtis rodo, kad beglobiui atvykus į naujus namus, dažnai prireikia pereinamojo etapo. Tiek augintiniui, tiek naujajam jo šeimininkui reikia rasti tarpusavio bendravimo taisykles, pažinti vienas kito poreikius, bei išmokti sklandžiai susikalbėti. Šiame etape gali kilti iššūkių, o juos spręsti padėtų žmogus, turintis patirties šioje srityje. Būtent tokių žmonių - mentorių, galinčių prižiūrėti naujojo šeimininko ir augintinio santykius pirmomis savaitėmis, - pagalbą siūlome per GetPet įglobintiems augintininiams.' %}
                </p>
            </div>

            <div class="col-md-5 order-md-first">
                <img class="rounded shadow-2"
                     src="{% static 'web/img/landing/benefits/getpet-menthors.png' %}"
                     alt="{% trans 'GetPet mentoriai' %}">
            </div>
        </div>

        <hr class="my-8">

        <div class="row gap-y align-items-center">
            <div class="col-md-6 mr-auto">
                <h4>{% trans 'Gyvūnų administravimo platforma' %}</h4>
                <p>
                    {% trans 'Gyvūnų globėjams sukūrėme specializuotą platformą, kurioje sukurti beglobio gyvūno ieškančio naujų namų anketą itin paprasta, o informacija apie jį automatiškai perkeliama į GetPet mobiliąsias programėles bei internetinį puslapį. Šioje platformoje galite patogiai matyti savo prieglaudos gyvūnų sąrašą, jį pildyti, stebėti kiekvieno augintinio anketos populiarumą ir gauti daugiau naudingų statistinių duomenų.' %}
                </p>
            </div>

            <div class="col-md-5">
                <img class="rounded shadow-2"
                     src="{% static 'web/img/landing/benefits/getpet-shelter-administration-platform.png' %}"
                     alt="{% trans 'Gyvūnų administravimo platforma' %}">
            </div>
        </div>

        <hr class="my-8">

        <div class="row gap-y align-items-center">
            <div class="col-md-6 ml-auto">
                <h4>{% trans 'Žaismingos GetPet Android ir iOS programėles' %}</h4>
                <p>
                    {% trans 'Gyvūno auginimas - svarbus ir džiaugsmo kupinas gyvenimo etapas. Tačiau atrasti išrinktąjį užtrunka daug laiko, kyla įvairių  klausimų, o procesas apsunksta dėl kanalų gausos ir informacijos stokos. GetPet programėlė padeda žmonėms rasti į beglobius gyvūnus vienoje vietoje, gauti glaustą, tikslią ir pozityvią informaciją apie juos. Tai pasirinkimo procesą padaro greitu, paprastu ir maloniu.' %}
                </p>
            </div>

            <div class="col-md-5 order-md-first">
                <img class="rounded shadow-2"
                     src="{% static 'web/img/landing/benefits/getpet-applications.png' %}"
                     alt="{% trans 'Žaismingos GetPet Android ir iOS programėles' %}">
            </div>
        </div>

        <hr class="my-8">

        <div class="row gap-y align-items-center">
            <div class="col-md-6 mr-auto">
                <h4>{% trans 'Visi prieglaudos gyvūnai internetinėje svetainėje' %}</h4>

                <p>
                    {% trans 'Gyvūnų globos organizacijų beglobiai augintiniai automatiškai patenka ne tik į GetPet mobiliąsias programėles, bet ir GetPet internetinį puslapį, kuriame lygiai taip pat paprasta ir greita surasti augintinį visiems, ieškantiems naujo augintinio. Informacija apie Jūsų gyvūnus čia perkeliama automatiškai iš GetPet administravimo sistemos, Jums nereikia skirti papildomo laiko anketų redagavimui skirtinguose GetPet kanaluose.' %}
                </p>
            </div>

            <div class="col-md-5">
                <img class="rounded shadow-2"
                     src="{% static 'web/img/landing/benefits/getpet-website.png' %}"
                     alt="{% trans 'Visi prieglaudos gyvūnai internetinėje svetainėje' %}">

            </div>
        </div>
    </div>
</section>