{% load static %}
{% load i18n %}
<section class="section {{ section_css_class }}" id="section-getpet-steps">
    <div class="container">
        <header class="section-header mb-6">
            <h2>{% trans 'Surask — Pažink — Augink' %}</h2>
            <hr>
            <p class="lead">{% trans 'Trys paprasti žingsniai kelyje į sėkmingą gyvūno globą' %}</p>
        </header>
        <div class="row gap-y align-items-center py-7">
            <div class="col-md-6 text-center">
                <img src="{% static 'web/img/spa/getpet-spa-surask.png' %}" alt="Surask">
            </div>

            <div class="col-md-5 ml-auto text-center text-md-left">
                <p class="lead-9 fw-900 lh-1 opacity-10">01</p>
                <h3 class="h2">{% trans 'Surask' %}</h3>
                <p>
                    {% trans 'Beglobiai, ieškantys namų – vienoje vietoje. Tai lyg gyvūnų ir žmonių pažinčių portalas, vieta Lietuvos gyventojams ir beglobiams gyvūnams susitikti. GetPet programėlėje patogu greitai peržvelgti namų ieškančių beglobių nuotraukas, piršto judesiu pasirinkti patinkančius, o atidarius gyvūno anketą apie kiekvieną sužinoti daugiau ir gauti globėjų kontaktus.' %}
                </p>
            </div>
        </div>


        <div class="row gap-y align-items-center py-7">
            <div class="col-md-5 mr-auto text-center text-md-left">
                <p class="lead-9 fw-900 lh-1 opacity-10">02</p>
                <h3 class="h2">{% trans 'Pažink' %}</h3>
                <p>
                    {% trans 'Tiek su žmonėmis, tiek su gyvūnais - meilė „ilgai ir laimingai“ ne visada nutinka „iš pirmo žvilgsnio“. Sprendimas priglausti gyvūną į savo namus – didelė atsakomybė. Todėl drąsiai eikitei į kelis pasimatymus, galbūt net su keliais gyvūnais. Tik geriau vienas kitą pažinę suprasite, ar tikrai tinkate vienas kitam.' %}
                </p>
            </div>

            <div class="col-md-6 text-center order-first order-md-last">
                <img src="{% static 'web/img/spa/getpet-spa-pazink.png' %}" alt="{% trans 'Pažink' %}">
            </div>
        </div>


        <div class="row gap-y align-items-center py-7">
            <div class="col-md-6 text-center">
                <img src="{% static 'web/img/spa/getpet-spa-augink.png' %}" alt="{% trans 'Augink' %}">
            </div>

            <div class="col-md-5 ml-auto text-center text-md-left">
                <p class="lead-9 fw-900 lh-1 opacity-10">03</p>
                <h3 class="h2">{% trans 'Augink' %}</h3>
                <p>
                    {% trans 'Suradus, pažinus ir širdimi pajutus, kad sutikai sielos draugą – laukia bendras gyvenimas kartu vienoje erdvėje. Šis etapas tiek džiaugsmingas, tiek kupinas naujų išbandymų ir iššūkių. Juos įveikti  Tau padės patyręs GetPet mentorius – tai žmogus, kuris nemokamai padės pirmosiomis bendro gyvenimo su nauju augintiniu savaitėmis.' %}
                </p>
            </div>
        </div>
    </div>
</section>