{% load i18n %}
<section class="section {{ section_css_class }}" id="section-history">
    <div class="container">
        <header class="section-header">
            <h2>{% trans 'Apie mus' %}</h2>
            <hr>
            <p class="lead">
                {% trans 'GetPet projekto idėja gimė Hack4Vilnius hakatono metu - tai įrankis, padedantis žmonėms ir beglobiams gyvūnams greičiau ir paprasčiau surasti vieni kitus. GetPet ne tik tapo renginio nugalėtoju, bet žinia apie iniciatyvą nuskambėjo visame pasaulyje.  Devyni GetPet iniciatyvos autoriai per trumpą laiką viziją pavertė veikiančia mobilia aplikaciją, prijungė didžiausias Vilniaus prieglaudas ir savo kūrinį pristatė visiems, neabejingiems beglobių gyvūnų likimams.' %}
            </p>
            <p class="lead">
                {% trans 'Kiekvienas GetPet komandos narys savo įgūdžių ir žinių pagalba padeda šiai socialinei iniciatyvai virsti realiu, naudingu įrankiu tiek žmonėms, ieškantiems gyvūno, tiek gyvūnus globojančioms organizacijoms. GetPet tikslas – sukurti realų socialinį pokytį, kurio tikslas – atsakingas visuomenės požiūris į gyvūnų auginimą, o rezultatas – beglobių gyvūnų mažėjimas.' %}
            </p>
        </header>
    </div>
</section>