{% load static %}
{% load i18n %}
<section class="section {{ section_css_class }}" id="section-history-photos">
    <div data-provide="slider" data-autoplay="true" data-slides-to-show="2" data-css-ease="linear"
         data-speed="12000" data-autoplay-speed="0" data-pause-on-hover="true" data-loop="true">
        <div class="p-2">
            <div class="rounded bg-img h-400"
                 style="background-image: url({% static 'web/img/landing/history/getpet-team-hack4vilnius-prize.jpg' %})"></div>
        </div>

        <div class="p-2">
            <div class="rounded bg-img h-400"
                 style="background-image: url({% static 'web/img/landing/history/getpet-team-sos-gyvunai-winter.jpg' %})"></div>
        </div>

        <div class="p-2">
            <div class="rounded bg-img h-400"
                 style="background-image: url({% static 'web/img/landing/history/getpet-team-vaidas.jpg' %})"></div>
        </div>
    </div>
</section>
