{% load i18n %}
<section class="section {{ section_css_class }}" id="section-history">
    <div class="container">
        <header class="section-header">
            <h2>Apie mus</h2>
            <hr>
            <p class="lead">
                GetPet projekto idėja gimė Hack4Vilnius metu, kur socialinį pokytį padedant beglobiams gyvūnams norėję
                sukurti dalyviai susibūrė į GetPet komandą. Net devyni GetPet idėjos autoriai ir projekto įkūrėjai
                sugebėjo per trumpą laiką viziją paversti veikiančia mobilia aplikaciją, o pasibaigus konkursui
                prijungti net tris didžiausias Vilniaus prieglaudas ir savo kūriny pristatė visiems Lietuvos
                gyventojams, neabejingiems beglobių gyvūnų likimams.
            </p>
            <p class="lead">
                Kiekvieno GetPet komandos nario skirtinga asmenybė bei atsineštas įgūdžių bei žinių bagažas padėjo šiai
                socialinei iniciatyvai virsti tikru, veikiančiu įrankiu ir žengti pirmuosius žingsnius socialinės
                veiklos sprendžiant beglobių gyvūnų problemas link.
            </p>
            <p class="lead">
                GetPet tikslas – sukurti realų socialinį pokytį, kurio tikslas – atsakingas visuomenės požiūris į gyvūnų
                auginimą, o rezultatas – beglobių gyvūnų mažėjimas.
            </p>
        </header>
    </div>
</section>