{% load i18n %}
<section class="section {{ section_css_class }}" id="section-history">
    <div class="container">
        <header class="section-header">
            <h2>About us</h2>
            <hr>
            <p class="lead">Our company was founded in 2013 with a mission to create pretty templates for
                great startups. We can combine beautiful, modern designs with clean, functional and
                high-performance code to produce stunning websites. And best of all, we are super passionate
                about our work. Thought does cognitive into follow and rationale annoyed.</p>
        </header>
    </div>
</section>