{% load static %}
{% load i18n %}
<section class="section {{ section_css_class }}" id="section-media">
    <div class="container">
        <header class="section-header">
            <h2>You're in good hands</h2>
            <hr>
            <p class="lead">Join thousands of satisfied customers using our template globally.</p>
        </header>

        <div class="partner">
            <img src="{% static 'web/img/news/getpet-in-fortune.png' %}" alt="{% trans 'GetPet Fortune' %}">
            <img src="{% static 'web/img/news/getpet-in-the-washington-post.png' %}"
                 alt="{% trans 'GetPet The Washington Post' %}">
            <img src="{% static 'web/img/news/getpet-in-rtl.png' %}" alt="{% trans 'GetPet RTL' %}">
            <img src="{% static 'web/img/news/getpet-in-cnn.png' %}" alt="{% trans 'GetPet CNN' %}">
            <img src="{% static 'web/img/news/getpet-in-dailymail.png' %}" alt="{% trans 'GetPet DailyMail' %}">
            <img src="{% static 'web/img/news/getpet-in-new-york-post.png' %}" alt="{% trans 'GetPet New York Post' %}">

        </div>
    </div>
</section>