{% load i18n %}
<section class="section py-7 bg-primary" id="section-more-info-for-shelters">
    <div class="container">
        <div class="row gap-y align-items-center">
            <div class="col-md-9">
                <h4 class="mb-0 text-white text-center text-md-left">
                    {% trans 'Reikia daugiau informacijos priimti sprendimui?' %}
                </h4>
            </div>

            <div class="col-md-3 text-center text-md-right">
                <a class="btn btn-lg btn-round btn-light"
                   rel="nofollow"
                   target="_blank"
                   href="https://drive.google.com/file/d/10rbMmDMjoeJHT6L8opQbZyzA75PrH1SK/view">
                    {% trans 'Platesnė informacija' %}
                </a>
            </div>
        </div>
    </div>
</section>