<ul class="pagination justify-content-center">
    {% with pagination_info=paginator_page.pagination_info %}
        {% with previous_url=pagination_info.previous_url %}
            <li class="page-item {{ previous_url|yesno:",disabled" }}">
                <a class="page-link"
                   href="{{ previous_url|default_if_none:"#" }}">
                    <span class="icon-chevron-left"></span>
                </a>
            </li>
        {% endwith %}

        {% for entry in pagination_info.entries %}
            {% if entry.url is None %}
                <li class="page-item {{ entry.is_active|yesno:"active,disabled" }}">
                    <span class="page-link">{{ entry.text }}</span>
                </li>
            {% else %}
                <li class="page-item {{ entry.is_active|yesno:"active," }}">
                    <a class="page-link" href="{{ entry.url }}">{{ entry.text }}</a>
                </li>

            {% endif %}
        {% endfor %}

        {% with next_url=pagination_info.next_url %}
            <li class="page-item {{ next_url|yesno:",disabled" }}">
                <a class="page-link"
                   href="{{ next_url|default_if_none:"#" }}">
                    <span class="icon-chevron-right"></span>
                </a>
            </li>
        {% endwith %}
    {% endwith %}
</ul>
